<a href="https://colab.research.google.com/github/breinerpico/Taller_For/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1

In [ ]:
# ejercicio No.1

suma = 0
serie = list(range(1,11))
for i in range(1,11):
  suma = suma + i

print("la suma es: " + str(suma))
print(serie)

#2

In [ ]:
#ejercicio No.2

print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)

#3

In [ ]:
#ejercicio No.3

i = 1
while (i <=10):
  print(i)
  i = i + 1

#4

In [ ]:
# ejercicio No.4

for i in range(1,11):
  print(i)

#5

In [ ]:
#ejercicio No.5

mi_lista = [1,2,3,4,5,6,7,8,9,10]
for i in mi_lista:
  print(i)

#6

In [ ]:
# ejercicio No.6

mi_lista = [1,2,3,4,5,6,7,8,9,10]
for i in mi_lista:
  print(f"{i} Guanenta 200 años!")

#7

In [ ]:
#ejercicio No.7

dias_semana = ["lu", "ma", "mi", "ju", "vi", "sa", "do"]
for i in dias_semana:
  print(i)

#8

In [ ]:
#ejercicio No.8

mi_listica = [1, 3.14, 9, True, "Breiner", 8, "guanenta"]
for i in mi_listica:
  print(i)

#9

In [ ]:
#ejercicio No.9

nombre = input("digite su nombre: ")

for i in nombre:
  print(i)

#10

In [ ]:
#ejercicio No.10

nombre = input("digite su nombre: ")

for i in nombre:
  if i == "e":
    print("*")
  else:
    print(i)

#11

In [ ]:
#ejercicio No.11

nombre = input("digite su nombre: ")

for i in nombre:
  print(i .upper())

# taller for

In [ ]:
#ejercicio No.1

numeros = [20, 21, 30, 41, 50, 51, 20]

for numero in numeros:
  if numero % 10 !=1:
    print(numero)

In [ ]:
#ejercicio No.2
palabra = "programacion"
for _ in range(1000):
    print(palabra)

In [ ]:
# ejercicio No.3

meses = {
    "E": "Enero",
    "F": "Febrero",
    "M": "Marzo",
    "A": "Abril",
}

iniciales_meses = ["E", "F", "M", "A"]

for inicial in iniciales_meses:
    print(meses[inicial])

In [ ]:
#ejercicio No.4

texto = input("Ingrese el texto: ")
vocales = {'a': 0, 'e': 0, 'i': 0, 'o': 0, 'u': 0, 'A': 0, 'E': 0, 'I': 0, 'O': 0, 'U': 0}
for letra in texto:
    if letra in vocales:
        vocales[letra] += 1
for vocal, count in vocales.items():
    print(f"{vocal}: {count}")

#5
En un diagrama de flujo, la instrucción repetitiva for se representa generalmente con un rombo o diamante que contiene la palabra "for" seguida de la condición de repetición. Por ejemplo, "for i = 1 to 10" indicaría que la repetición se realiza mientras la variable i esté en el rango de 1 a 10. Dentro del rombo, se detallaría el bloque de código que se repetirá en cada iteración.

In [ ]:
# ejercicio No.6

numeros_pares = 0
numeros_impares = 0

for i in range(20):
    num = int(input("Ingrese un número entero: "))
    if num % 2 == 0:
        numeros_pares += 1
    else:
        numeros_impares += 1

print(f"Números pares: {numeros_pares}")
print(f"Números impares: {numeros_impares}")

In [ ]:
#ejercicio No.7

count_seven = 0
count_nine = 0
for num in range(1000, 5001):
    if num % 7 == 0:
        count_seven += 1
    if num % 9 == 0:
        count_nine += 1
print(f"Número de múltiplos de 7 entre 1000 y 5000: {count_seven}")
print(f"Número de múltiplos de 9 entre 1000 y 5000: {count_nine}")

In [ ]:
#ejercicio No.8

import random
n_dados = 3
n_lanzamientos = 100

resultados = {i: 0 for i in range(1, 7)}
for _ in range(n_lanzamientos):
    suma_caras = 0
    for _ in range(n_dados):
        cara = random.randint(1, 6)
        resultados[cara] += 1
print("Histograma de resultados:")
for cara, cantidad in resultados.items():
    print(f"Cara {cara}: {'*' * cantidad}")

In [ ]:
# ejercicio No.9

num = int(input("Ingresa un número para calcular su factorial: "))
factorial = 1
if num < 0:
    print("No se puede calcular el factorial de un número negativo.")
elif num == 0:
    print("El factorial de 0 es 1")
else:
    for i in range(1, num + 1):
        factorial *= i
    print(f"El factorial de {num} es {factorial}")

In [ ]:
# ejercicio No.10

for i in range(1, 11):
    print(i ** 2, end=", " if i < 10 else "")